
.profile__button-edit {
  background-image: url(../../../image/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  margin-left: 17px;
  background-color: black;
  cursor: pointer;
  padding-top: 21px;
}
@media (max-width: 1000px){
  .profile__button-edit{
    padding-top: 15px;
  }
}

@media (max-width: 394px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}

