.header__logo {
  padding: 45px 0 36px;
  width: 143px;
  height: 34px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top;
}

@media (max-width: 700px) {
  .header__logo {
    padding: 29px 0 27px;
    width: 104px;
    height: 24.4px;
    margin-left: 8%;
  }
}
