.footer__copyright {
  color: #545454;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 66px auto 60px;
}

@media (max-width: 420px) {
  .footer__copyright {
    font-size: 14px;
    margin: 47px 0 35px;
  }
}


