.card__button-like {
  background-image: url(./../../../image/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 19px;
  width: 21px;
  background-color: white;
  border: 0;
  cursor: pointer;
  margin: auto 18px;
  outline: none;
}
